In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data=pd.read_csv('~/ADA-Project/data/Python_Questions_clean.csv',encoding= 'iso-8859-1',sep="\t")

In [14]:
data.head()

,Unnamed: 0,Id,OwnerUserId,CreationDate,Score,Title,Body
0,0,469,147.0,2008-08-02T15:11:16Z,21,find full path font display name mac,using photoshop javascript api find fonts give...
1,1,502,147.0,2008-08-02T17:01:58Z,27,get preview jpeg pdf windows,cross platform python application needs genera...
2,2,535,154.0,2008-08-02T18:43:54Z,40,continuous integration system python codebase,starting work hobby project python codebase wo...
3,3,594,116.0,2008-08-03T01:15:08Z,25,cx_oracle iterate result set,several ways iterate result set tradeoff
4,4,683,199.0,2008-08-03T13:19:16Z,28,using match attribute python objects array,remember whether dreaming seem recall function...

In [16]:
tags=pd.read_csv('~/ADA-Project/data/PythonTags.csv',encoding= 'iso-8859-1')
tags.head()

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

In [17]:
tags.tail()

               Id     Tag
1885073  40143338  python
1885074  40143365  python
1885075  40143365   numpy
1885076  40143365  theano
1885077  40143365    nnet

In [18]:
type(tags['Id'])

pandas.core.series.Series

In [19]:
text_features=data
text_features['body_length']= text_features['Body'].map(lambda x:len(str(x)))
text_features['title_length']= text_features['Title'].map(lambda x:len(str(x)))
text_features['body_word_count']=text_features['Body'].map(lambda x:len(str(x).split(" ")))
text_features['title_word_count']=text_features['Title'].map(lambda x:len(str(x).split(" ")))
del text_features['OwnerUserId']
del text_features['CreationDate']
del text_features['Title']
del text_features['Body']
del text_features['Score']

In [20]:
text_features.head()

,Unnamed: 0,Id,body_length,title_length,body_word_count,title_word_count
0,0,469,253,36,39,7
1,1,502,129,28,18,5
2,2,535,414,45,58,5
3,3,594,40,28,6,4
4,4,683,120,42,17,6

In [21]:
text_features.to_csv('additonal_python_text_features.csv',sep=',', encoding='iso-8859-1')